<div class="govuk-form-group">
  <label class="govuk-label" for="{{ field.id }}">
    {{ field.label }}
    {% if field.hint %}<span class="govuk-hint">{{ field.hint }}</span>{% endif %}
  </label>
  <input list="{{ field.id }}-list" class="govuk-input {% if field.modifier %}{{ field.modifier }}{% endif %}" id="{{ field.id }}"
    name="{{ field.id }}" type="text" {% if field.placeholder %}placeholder="{{ field.placeholder }}" {% endif %}>

    <datalist id="{{ field.id }}-list">
      <option value="Aberaeron">
      <option value="Aberdeen">
      <option value="Aberdour">
      <option value="Aberdyfi">
      <option value="Aberystwyth">
      <option value="Amlwch">
        <option value="Anstruther">
          <option value="Arbroath">
          <option value="Ardglass">
          <option value="Ardrishaig">
          <option value="Ardrossan">
          <option value="Arisaig">
          <option value="Ayr">
          <option value="Ballycastle">
          <option value="Ballylumford">
          <option value="Baltic Wharf">
          <option value="Banff">
          <option value="Bangor (Co Down)">
          <option value="Barmouth">
          <option value="Barrow-In-Furness">
          <option value="Barry">
          <option value="Belfast">
          <option value="Berwick-Upon-Tweed">
          <option value="Bideford">
          <option value="Birkenhead">
          <option value="Blyth">
          <option value="Boston">
          <option value="Braefoot Bay">
          <option value="Braye (Aldernay)">
          <option value="Bridgwater">
          <option value="Bridlington">
          <option value="Brightlingsea">
          <option value="Bristol City Docks">
          <option value="Bristol">
          <option value="Brixham">
          <option value="Brodick">
          <option value="Bromborough">
          <option value="Buckie Harbour">
          <option value="Bude">
          <option value="Burghead">
          <option value="Burntisland">
          <option value="Burton Upon Stather">
          <option value="Caernarfon">
          <option value="Cairnryan">
          <option value="Campbeltown">
          <option value="Cardiff">
          <option value="Carradale">
          <option value="Carrickfergus">
          <option value="Cellardyke">
            <option value="Chatham">
              <option value="Chichester">
              <option value="Clydeport PLC">
              <option value="Cockenzie Harbour">
              <option value="Coleraine">
              <option value="Cowes">
              <option value="Conwy">
              <option value="Convoys Wharf">
              <option value="Craignure">
              <option value="Crail">
              <option value="Cromarty Firth">
              <option value="Dartmouth">
              <option value="Douglas">
              <option value="Dover">
              <option value="Dumfries & Galloway">
              <option value="Dunbar">
              <option value="Dundee">
              <option value="Dunoon Pier">
              <option value="Dysart">
              <option value="Falmouth Docks">
              <option value="Falmouth Harbour">
              <option value="Felixstowe">
              <option value="Fishguard">
              <option value="Fleetwood">
              <option value="Flixborough">
              <option value="Flotta">
              <option value="Folkestone">
              <option value="Fosdyke">
              <option value="Fowey Docks">
              <option value="Fowey">
              <option value="Fraserburgh">
              <option value="Gairloch">
              <option value="Garston">
              <option value="Gigha">
              <option value="Girvan">
                <option value="Glasgow">
                  <option value="Glensanda">
                  <option value="Gloucester Harbour">
                  <option value="Goole">
                  <option value="Gourock">
                  <option value="Grangemouth">
                  <option value="Granton">
                  <option value="Great Yarmouth">
                  <option value="Greenock">
                  <option value="Grimsby">
                  <option value="Hamble">
                  <option value="Hartlepool">
                  <option value="Harwich Haven">
                  <option value="Harwich International Port">
                  <option value="Harwich Navyard">
                  <option value="Hatston">
                  <option value="Hayle">
                  <option value="Heysham">
                  <option value="Holyhead">
                  <option value="Hound Point Terminal">
                  <option value="Howden">
                  <option value="Hull">
                  <option value="Hunterston">
                  <option value="Immingham">
                  <option value="Invergordon">
                  <option value="Inverness">
                  <option value="Ipswich">
                  <option value="Keadby">
                  <option value="Kennacraig">
                  <option value="Kilkeel">
                  <option value="Kings Lynn">
                  <option value="Kinlochbervie">
                  <option value="Kirkcaldy">
                  <option value="Kirkcudbright">
                  <option value="Kirkwall">
                  <option value="Kyle Of Lochalsh">
                  <option value="Langstone Harbour">
                  <option value="Largs">
                  <option value="Larne">
                  <option value="Leith">
                  <option value="Lerwick">
                  <option value="Littlehampton">
                  <option value="Liverpool">
                  <option value="Llanddulas">
                  <option value="Lochboisdale">
                  <option value="Lochinver Harbour">
                  <option value="Lochmaddy">
                  <option value="London">
                  <option value="Londonderry">
                  <option value="Lowestoft">
                  <option value="Lydney">
                  <option value="Lymington">
                  <option value="Macduff">
                  <option value="Mallaig">
                  <option value="Manchester Ship Canal">
                  <option value="Menai Bridge">
                  <option value="Methil">
                  <option value="Mevagissey">
                  <option value="Milford Haven">
                  <option value="Minehead">
                  <option value="Mistley Quay">
                  <option value="Montrose">
                  <option value="Mostyn">
                  <option value="Neath">
                  <option value="New Holland">
                  <option value="New Quay">
                  <option value="Newhaven">
                  <option value="Newlyn">
                  <option value="Newport">
                  <option value="North Berwick Harbour">
                  <option value="North Queensferry">
                  <option value="Oban">
                  <option value="Oban North Pier">
                  <option value="Padstow">
                  <option value="Penryn">
                  <option value="Penzance">
                  <option value="Perth Harbour">
                  <option value="Pettycur Pier">
                  <option value="Pittenweem">
                  <option value="Plymouth">
                  <option value="Plymouth Cattedown Wharves">
                  <option value="Plymouth Victoria Wharf">
                  <option value="Poole">
                  <option value="Port Ellen">
                  <option value="Port Of Peterhead">
                  <option value="Port Penrhyn">
                  <option value="Port Ramsgate">
                  <option value="Port Talbot">
                  <option value="Portavogie">
                  <option value="Porthmadog">
                  <option value="Portland Port">
                  <option value="Portsmouth">
                  <option value="Portsoy">
                  <option value="Pwllhlli">
                  <option value="Ramsgate Royal Harbour">
                  <option value="Richborough">
                  <option value="Ridham">
                  <option value="Rosyth">
                  <option value="Rothesay">
                  <option value="Rye">
                  <option value="Salcombe Harbour">
                  <option value="Sandhaven Harbour">
                  <option value="Sandwich">
                  <option value="Scalloway Harbour">
                  <option value="Scarborough Harbour">
                  <option value="Scrabster Harbour">
                  <option value="Seaham Harbour">
                  <option value="Sennen Cove">
                  <option value="Sharpness">
                  <option value="Sheerness">
                  <option value="Shoreham">
                  <option value="Silloth">
                  <option value="South Killingholme">
                  <option value="Southampton">
                  <option value="St Helier">
                  <option value="St Marys (Scilly)">
                  <option value="St Monans">
                  <option value="St Peter Port">
                  <option value="Stornoway">
                  <option value="Strangford">
                  <option value="Stromness">
                  <option value="Sullom Voe">
                  <option value="Sunderland">
                  <option value="Sutton Bridge">
                  <option value="Sutton Harbour">
                  <option value="Swanseah">
                  <option value="Tarberth">
                  <option value="Tees Clh">
                  <option value="Tees Bih">
                  <option value="Tees T.h">
                  <option value="Teesporh">
                  <option value="Teignmoh">
                  <option value="Tenby Hh">
                  <option value="Thamesph">
                  <option value="Tilburyh">
                  <option value="Torquayh">
                  <option value="Troon">
                  <option value="Truro">
                  <option value="Tyne">
                  <option value="Uig">
                  <option value="Ullapooh">
                  <option value="Warkworh">
                  <option value="Warrenph">
                  <option value="Watcheth">
                  <option value="Wells nh">
                  <option value="Weymouth">
                  <option value="Whitby">
                  <option value="Whitehah">
                  <option value="Whitstah">
                  <option value="Wick">
                  <option value="Wisbechh">
                  <option value="Workingh">
                  <option value="Wormit">
                  <option value="Yarmouth">
                  
  </datalist>
</div>







