{% extends "patterns/base_page.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="app__width-container">
  {% include "patterns/atoms/back-link/back-link.html" %}

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "patterns/molecules/page-heading/page-heading.html"  %}

        <form class="form" action="{{ page.nextURL }}" method="get" novalidate>

          <div class="form__side-by-side">
            {% include "patterns/atoms/text-input/text-input.html" with field=questionOne %}
            {% include "patterns/atoms/text-input/text-input.html" with field=questionTwo %}
          </div>
          <div class="govuk-!-margin-bottom-6">
            <a class="govuk-link govuk-body" href="#">Forgotten your passcode?</a>
          </div>
          {% include "patterns/atoms/button/button.html" with field=action %}

        </form>

      </div>
    </div>

  </main>
</div>
{% endblock %}