{% extends "patterns/base_page.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="app__width-container">
    {% include "patterns/atoms/back-link/back-link.html" %}

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}

                <form class="form" action="{{ page.nextURL }}" method="get" novalidate>
                    {% if page.body %}
                    <p class="govuk-body govuk-!-margin-bottom-8">{{ page.body }}</p>
                    {% endif %}

                    <ol class=" app-task-list">
                        <li>
                            <div class="form__side-by-side">
                                <h2 class="app-task-list__section app-task-list__section--with-actions">KK69 FJI</h2>&nbsp;&nbsp;&nbsp;
                                <a class="govuk-link govuk-body" href="#">Remove vehicle</a>&nbsp;&nbsp;&nbsp;
                            </div>

                            {% include "patterns/atoms/summary-list/summary-list.html" with field=vehicleInfo %}
                        </li>
                        <li>
                            <div class="form__side-by-side">
                                <h2 class="app-task-list__section app-task-list__section--with-actions">KK69 FJK</h2>&nbsp;&nbsp;&nbsp;
                                <a class="govuk-link govuk-body" href="#">Remove vehicle</a>&nbsp;&nbsp;&nbsp;
                            </div>
                            {% include "patterns/atoms/summary-list/summary-list.html" with field=vehicleInfo %}
                        </li>
                    </ol>

                    {% include "patterns/atoms/button/button.html" with field=action %}
                    {% include "patterns/atoms/button/button--secondary.html" with field=actionTwo %}
                </form>

            </div>
        </div>

    </main>
</div>
{% endblock %}