{% extends "patterns/base_page_v3.html" %}



{% block content %}
<div class="app__width-container">
    {% include "patterns/atoms-s3/back-link/back-link.html" %}

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html"  %}

                <form class="form" action="{{ page.nextURL }}" method="get" novalidate>
                    <h2 class="govuk-heading-m">Contact details</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=overviewContact %}

                    <h2 class="govuk-heading-m">Hiree details</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=overviewHire %}

                    <h2 class="govuk-heading-m">Save your answers</h2>

                    <p class="govuk-body">It is still your responsibility to fill out the survey, however we will
                        contact the person you have hired the vehicle to, and ask them to fill out the details for you.
                    </p>
                    <p class="govuk-body">if we're unable to contact them we'll be back in touch.</p>
                    {% include "patterns/atoms-s3/button/button.html" with field=action %}
                </form>

            </div>
        </div>

    </main>
</div>
{% endblock %}