{% extends "patterns/base_page.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="app__width-container">

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}

                {% if page.body %}
                <p class="govuk-body govuk-!-margin-bottom-8">{{ page.body }}</p>
                {% endif %}

                {% include "patterns/atoms/summary-list/summary-list.html" with field=overview  %}

                <ol class=" app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span> Stops
                        </h2>

                        <div class="govuk-!-margin-bottom-9" style="padding-left: 30px;">
                            {% include "patterns/atoms/details/details.html" with field=help %}
                            {% include "patterns/atoms/summary-list/summary-list.html" with field=tasklistFour nomargin="nomargin" %}
                            <a class="govuk-link govuk-body" href="#">Bulk upload stops (CSV)</a>

                        </div>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2. </span> Vehicle details (KK69 FJU)
                        </h2>
                        {% include "patterns/molecules/task-list-items/task-list-items.html" with field=tasklistThree %}
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3. </span> Business details
                        </h2>
                        {% include "patterns/molecules/task-list-items/task-list-items.html" with field=tasklistTwo %}
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">4. </span> Contact details
                        </h2>
                        {% include "patterns/molecules/task-list-items/task-list-items.html" with field=tasklistOne %}
                    </li>
                </ol>

                <h2 class="govuk-heading-m">Finish and send survey</h2>

                <p class="govuk-body">By submitting this survey you are confirming that, to the best of your
                    knowledge, the details you have provided are correct.</p>

                <form class="form" action="{{ page.nextURL }}" method="get" novalidate>
                    {% include "patterns/atoms/button/button.html" with field=action %}
                </form>

            </div>
        </div>

    </main>
</div>
{% endblock %}