{% extends "patterns/base_page_v3.html" %}



{% block content %}
<div class="app__width-container">

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}

                {% if page.body %}
                <p class="govuk-body govuk-!-margin-bottom-8">{{ page.body }}</p>
                {% endif %}

                {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=overview  %}

                <ol class=" app-task-list">
                    <li class="govuk-!-margin-bottom-9">
                        <h2 class="govuk-heading-l">
                            Trips (2)
                        </h2>
                        {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=tasklistThree nomargin="nomargin" %}
                    </li>
                    <li>
                        <h2 class="govuk-heading-l">Vehicles (2)</h2>
                        <h3 class="govuk-heading-m">KK69 FJI</h3>
                        <div class="govuk-!-margin-bottom-9" style="padding-left: 30px;">
                            {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=vehicleOverview  %}
                        </div>
                        <h3 class="govuk-heading-m">KK69 FJK</h3>
                        <div class="govuk-!-margin-bottom-9" style="padding-left: 30px;">
                            {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=vehicleOverview  %}
                        </div>
                    </li>
                    <li class="govuk-!-margin-bottom-9">
                        <h2 class="govuk-heading-l">
                            Business details
                        </h2>
                        {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=businessDetails  %}
                    </li>
                    <li>
                        <h2 class="govuk-heading-l">
                            Contact details
                        </h2>
                        {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=contactDetails  %}
                    </li>
                
                </ol>
            </div>
        </div>

    </main>
</div>
{% endblock %}