{% extends "patterns/base_page_v3.html" %}



{% block content %}
<div class="app__width-container">
    {% include "patterns/atoms-s3/back-link/back-link.html" %}

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}

                {% if page.body %}
                <p class="govuk-body govuk-!-margin-bottom-8">{{ page.body }}</p>
                {% endif %}

                <form class="form" action="{{ page.nextURL }}" method="get" novalidate>
                    <h2 class="govuk-heading-l">01 March 2020 to 11 March 2020</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=summary  %}
                    <h2 class="govuk-heading-m">Outward trip - from the UK</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=outward  %}
                    <h2 class="govuk-heading-m">Return trip - to the UK</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=return  %}
                    <h2 class="govuk-heading-l">Consignments (4)</h2>
                    
                    <h2 class="govuk-heading-m">Bread</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=consignmentSummary %}  

                    <h2 class="govuk-heading-m">Livestock</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=consignmentSummaryTwo %}  

                    <h2 class="govuk-heading-m">Household goods</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=consignmentSummaryThree %}  

                    <h2 class="govuk-heading-m">Bread</h2>
                    {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=consignmentSummaryFour %}  
                    {% include "patterns/atoms-s3/button/button.html" with field=action %}
                </form>

            </div>
        </div>

    </main>
</div>
{% endblock %}