{% extends "patterns/base_page.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="app__width-container">
        <main class="govuk-main-wrapper">

                <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">

                                <h2 class="govuk-heading-l">Quick links for Prototype Journeys</h2>

                                <h2 class="govuk-heading-m">Current sprint</h2>

                                <ul class="govuk-list govuk-list--bullet">
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/pre-survey-gb/start.html">Domestic
                                                        Pre-Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/survey-gb/start.html">Domestic
                                                        Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/pre-survey-gb-hire/start.html">Domestic
                                                        Pre-Survey Hire flow</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/pre-survey-int/start.html">International
                                                        Pre-Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/survey-int/start.html">International
                                                        Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/read-only/read-only-summary.html">Read only summary</a></li>
                                </ul>

                                <h2 class="govuk-heading-l">Previous versions</h2>

                                <h2 class="govuk-heading-m">Sprint two</h2>

                                <ul class="govuk-list govuk-list--bullet">
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-2/pre-survey-gb/start.html">Domestic
                                                        Pre-Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-2/survey-gb/start.html">Domestic
                                                        Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-2/pre-survey-gb-hire/start.html">Domestic
                                                        Pre-Survey Hire flow</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-2/pre-survey-int/start.html">International
                                                        Pre-Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-2/survey-int/start.html">International
                                                        Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-2/read-only/read-only-summary.html">Read only summary</a></li>
                                </ul>

                                <h2 class="govuk-heading-m">Sprint one</h2>
                                <ul class="govuk-list govuk-list--bullet">
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-1/pre-survey-gb/start.html">Domestic
                                                        Pre-Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-1/survey-gb/start.html">Domestic
                                                        Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-1/pre-survey-int/start.html">International
                                                        Pre-Survey</a></li>
                                        <li><a class="govuk-link"
                                                        href="/pattern-library/render-pattern/patterns/pages/sprint-1/survey-int/start.html">International
                                                        Survey</a></li>
                                </ul>

                                <h2 class="govuk-heading-l">Full component library</h2>

                                <ul class="govuk-list govuk-list--bullet">
                                        <li><a class="govuk-link" href="/pattern-library/">Pattern Library</a></li>
                                </ul>
                        </div>
                </div>

        </main>
</div>
{% endblock %}