{% extends "patterns/base_page_v3.html" %}



{% block content %}
<div class="app__width-container">
    {% include "patterns/atoms-s3/back-link/back-link.html" %}

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/molecules/page-heading/page-heading.html" %}

                {% if page.body %}
                <p class="govuk-body govuk-!-margin-bottom-8">{{ page.body }}</p>
                {% endif %}

                {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=overview  %}

                <ol class=" app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span> Vehicles & Trips
                        </h2>
                        <div class="govuk-!-margin-bottom-9" style="padding-left: 30px;">
                            {% include "patterns/atoms-s3/summary-list/summary-list.html" with field=tasklistThree nomargin="nomargin" %}
                            <a class="govuk-link govuk-body" href="#">Bulk upload vehicles & trips (CSV)</a>
                        </div>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2. </span> Business details
                        </h2>
                        {% include "patterns/molecules/task-list-items/task-list-items.html" with field=tasklistTwo %}
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3. </span> Contact details
                        </h2>
                        {% include "patterns/molecules/task-list-items/task-list-items.html" with field=tasklistOne %}
                    </li>
                </ol>
            </div>
        </div>

    </main>
</div>
{% endblock %}