{% load static %}

<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        <title>{% block title_prefix %}{% if request.site and page.pk == request.site.root_page.pk and request.site.site_name %}{{ request.site.site_name }} | {% endif %}{% endblock %}{% block title %}{% if page.title %}{{ page.title }}{% else %}{{ questionOne.label }}{% endif %}{% endblock %}{% block title_suffix %}{% if request.site and page.pk != request.site.root_page.pk and request.site.site_name %} | {{ request.site.site_name }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="robots" content="noindex" />

        {% block meta_tags %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}{% endblock %}
    </head>

    <body class="app govuk-template__body {% block body_class %}app--{{ page.get_verbose_name|slugify }}{% endblock %}">

        {% block body_top %}{% endblock %}

        {% block header %}{% endblock %}

        <main class="app__content" id="main-content">
            {% block content %}
                {{ pattern_library_rendered_pattern }}
            {% endblock %}
        </main>

        {% block footer %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>

