{% extends "patterns/base_page_v3.html" %}



{% block content %}
<div class="app__width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% include "patterns/atoms-s3/panel/panel.html" with field=panel %}

                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">
                    You will need to start recording your vehicle's journeys on 01 March 2020
                </p>
                <p class="govuk-body">
                    You will get an email reminder 24 hours before to example@email.com
                </p>
            </div>
        </div>

    </main>
</div>
{% endblock %}